.label {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  box-shadow: 0 0 8px 8px peachpuff;
}

.input {
  width: 100%;
  padding: 4px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid grey;
}
