.list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;              
    padding: 0;  
    margin-left: auto; 
    li {
      a {
        color: white;
        text-decoration: none;
        font-size: 32px;     
        font-weight: bold;     
        padding: 8px 12px; 
      }
    }
  }
  